// 基本less  存放共用变量

// 字体颜色
@fontColor:#333;
// 导航
@linkActiveFontColor: #555;
@linkFontColor: #aaa;

// 模块背景色
@modelBGColor: #f7f7f7;
// 区块背景色
@modelPartitionBGColor: #fff;

// 分类树菜单宽度
@statementMenuWidth: 220px;


// 清浮动
.clearfix(){
  &:after{
    content:"";
    display: table;
    clear: both;
  }
}

// 滚动条样式
.scrollStyle(){
  // /*滚动条样式*/
  &::-webkit-scrollbar {  // /*滚动条整体样式*/
    width: 8px;       // /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {  // /*滚动条里面小方块*/
    border-radius: 8px;
    // -webkit-box-shadow: inset 0 0 8px #eee;
    // background: #eee;
    // -webkit-box-shadow: inset 0 0 8px tra;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {  // /*滚动条里面轨道*/
    // -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: transparent;
  }
}

// 主体内容盒子宽度
.container{
  margin: 0 auto;
  max-width: 1300px;
  &:before{
    content: "";
    display: table;
  }
  &:after{
    content:"";
    display: table;
    clear: both;
  }
}


.lt_icon{
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  background: url(../images/less_icon.png) no-repeat;
  background-size: 100% 100%;
}
.lteq_icon{
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/less_equal_icon.png) no-repeat;
  background-size: 100% 100%;
}
.gt_icon{
  display: block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  width: 15px;
  height: 15px;
  background: url(../images/greater_icon.png) no-repeat;
  background-size: 100% 100%;
}
.gteq_icon{
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../images/greater_equal_icon.png) no-repeat;
  background-size: 100% 100%;
}


// grid 单一项目样式
.gridItem(){
  height: 100%;
  width: 100%;
  // background-color: #fff;
  overflow: hidden;
  >.gridItemTit{
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
  }
  >.gridItemView{
    height: 100%;
    &.hasTit{
      height: calc(100% - 25px);
    }
    width: 100%;
  }
}